services:
  - type: web
    name: product-analyzer
    env: docker
    region: oregon
    plan: free
    rootDir: bl
    dockerfilePath: ./Dockerfile
    envVars:
      - key: GEMINI_API_KEY
        sync: false
      - key: NEWSAPI_KEY
        sync: false
      - key: BLINKIT_HEADLESS
        value: "1"
      - key: MANUAL_LOCATION_MODE
        value: "false"
